@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Open+Sans:wght@700;800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap')

*{
      padding: 0;
      margin: 0;
      box-sizing: border-box;
      font-family: 'Poppins', sans-serif;
      scroll-behavior: smooth;
      text-decoration: none;

}


.body{
margin:auto;
width: 100%;
padding: 50px 126px;
background-color: #000000;
font-family: "Merriweather", serif;
font-weight: 400;
}
/* banner header starting  css styles */
.banner1{}
.banner1-container{
position: relative;
width: 1320px;
height: 600px;
padding: 50px 50px;
}

.overlay-text{
 position: absolute;
 top: 50%;
 left: 50%;
 transform: translate(-50%, -50%);
 color: #FFFFFF;
 font-weight: 800;
 text-shadow: 2px 2px 4px #e40707;
 padding: 2px;
 text-align: center;
}
.hny1{
margin-bottom: 10px ;
font-size: 20px;
}
.hny2{
 margin-top: 0px;
 color: #FFF;
 text-align: center;
 font-size: 72px;
} 

/* Discount section css details*/

.discount{
text-align: center;
margin-bottom: 0px;
}
.discount-amount{
color: #F00;
text-align: center;
font-family: Inter;
font-size: 88px;
font-weight: 700;
margin-bottom: 10px;
}
.discount-title{
 color: #F00;
 text-align: center;
 font-family: Inter;
 font-size: 24px;
 font-weight: 500;
 margin-bottom: 4px;
 margin-bottom: 0px;
}
.discount-items{
 color: #5d0ff9;
 text-align: center;
 font-family: Inter;
 font-size: 38px;
 font-style: normal;
 font-weight: 700;
 margin-top: 5px;
 
 padding: 50px;
}
.img-container2{
 margin-left: 260px;
 margin-top: 48px;


}
/* join now related css styles*/

.img-container3{
      position: relative;
      width: 1180px;
      padding: 130px;
      margin-top: 120px;
      
}
.img-container3.btn-join{
      background: #FFFFFF;
      opacity: 0.8;
}

.party-camp{
 position:absolute;
 top: 40%;
 left: 40%;
 transform: translate(-50%, -50%);
 padding: 126px;
 text-align: center;
}


.party-title{
 color:#FFFFFFCC;
 font-family: Merriweather;
 font-size: 64px;
 font-weight: 900;
 letter-spacing: 5.5px;
 padding: 37.5px;
 margin-bottom: 10px;
 text-align: left;
}

.party-description{
 color: rgba(255, 255, 255, 0.80);
 font-family: Inter;
 font-size: 18px;
 font-style: normal;
 font-weight: 400;
 margin-bottom: 5px;
}


     /* event-time css styles*/ 


.event-time{
     
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 10px;
      border-color: #5d0ff9;
      border-width: 1px;
      max-width: 1320px;
      min-height: 482px;
      font-family: Inter;
      font-size: 42px;
      font-weight: 600;
      letter-spacing: 0.5px;
      text-transform: capitalize;
      border: #FFF;
      border-color: #000000;
      background-color:linear-gradient(180deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0.00) 100%);
      padding: 126px;
      margin-top: 120

}
.span-color{
      color: #FF0000;
}

.btn-join1{
    
      background-color:#FF0000 ;
      color: #FFFFFF;
      margin-left: 200px;
      font-size: 24px;
}