@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Open+Sans:wght@700;800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap')


/* banner header starting  css styles */
* {
      margin: 0 , auto;
      padding: 0;
      box-sizing: border-box;
}
 
.banner1-container{
position: relative;
width: 1320px;
height: 600px;
padding: 50px 50px;

}

.overlay-text{
 position: absolute;
 top: 50%;
 left: 50%;
 transform: translate(-50%, -50%);
 color: #FFFFFF;
 font-weight: 800;
 text-shadow: 2px 2px 4px #e40707;
 padding: 2px;
 text-align: center;
}
.hny1{
margin-bottom: 10px ;
font-size: 30px;
}
.hny2{
 margin-top: 0px;
 color: #FFF;
 text-align: center;
 font-size: 72px;
} 

/* Discount section css details*/

.discount{
text-align: center;
margin-bottom: 0px;
}
.discount-amount{
color: #F00;
text-align: center;
font-family: Inter;
font-size: 88px;
font-weight: 700;
margin-bottom: 10px;
}
.discount-title{
 color: #F00;
 text-align: center;
 font-family: Inter;
 font-size: 22px;
 font-weight: 500;
 margin-bottom: 0px;
 
}
.discount-items{
 color:#070211;
 text-align: center;
 font-family: Inter;
 font-size: 38px;
 font-style: normal;
 font-weight: 700;
 margin-top: 0px;
 
 padding:10px;
}
.img-container2{
 margin-left: 260px;
 margin-top: 48px;
 max-width: 802.9px;
 min-height: 500px;


}
/* join now related css styles*/

.img-container3{
      position: relative;
      max-width: 1180px;
      margin-bottom: 110px;
      margin-top: 100px;
      margin-left: 50px;
      
}
.img-container3.btn-join{
      opacity: 0.8;
}

.party-camp{
 position:absolute;
 top: 40%;
 left: 40%;
 transform: translate(-50%, -50%);
 padding: 100px;
 text-align: center;
}


.party-title{
 color:#FFFFFFCC;
 font-family: Merriweather;
 font-size: 64px;
 font-weight: 900;
 letter-spacing: 5.5px;
 padding: 37.5px;
 margin-bottom: 10px;
 text-align: left;
}

.party-description{
 color:#FFFFFF;
 font-family: Inter;
 font-size: 18px;
 font-style: normal;
 font-weight: 400;
 margin-bottom: 5px;
 margin-left: 40px;
}
.btn-join{


    margin-left: 10px;
    margin-top: 40px;
    padding: 10px;
    margin-right: 200px;

}

     /* event-time css styles*/ 


.event-time{
     
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 10px;
      flex-direction: column;
      border-width: 1px;
      max-width: 1320px;
      min-height: 482px;
      font-family: Inter;
      font-size: 22px;
      font-weight: 600;
      letter-spacing: 0.5px;
      text-transform: capitalize;
      background:linear-gradient(to bottom, #ffe2e2 30%, #ffbfbf 70%);
      background-clip: content-box;
      padding:0px;
      margin-left: 150px;
      margin-right: 150px;

}
.span-color{
      color: #FF0000;
}
.text1{
     display: flex;
     align-items: left;
     justify-content: left;
      flex-flow: column wrap;
      margin-top: 120px;
      margin-bottom: 2px;
      padding: 0px;
      


}
.text1 h6{
      margin-left: 50px;
      margin-bottom: 35px;
}
.text1 h4{
      margin-left: 50px;
      margin-top: 0px;
      margin-bottom: 22px;
}
.text1 p{
      margin-left:50px;
      margin-bottom: 5px;
      margin-top: 0px;
      font-size: 20px;
}
.title1{
font-family: Merriweather;
font-size: 48px;
font-weight: 900;
text-transform: capitalize;
}
.btn-join1{
     
      margin-bottom: 20px;
      background-color: #FF0000;
      color: #FFFFFF;
      border-radius: 5.5px;


}

/* items-container stats */
.items-container{
      display: flex;
      flex-direction: column;
      flex-flow: wrap;
      gap: 20px 20px;
      margin-top: 30px;
      margin-left: 80px;
     
}

  
.products{
      margin-top: 50px;
}


.text1{
      margin-left: 20px;
      font-size: 28px;
      padding: 5px;
      margin-bottom: 0px;
      margin-top: 120px;
      
}




/* items-container ends */



/* newsletter starts here */
.Newsletter-title{
    border: #ffffff 2px solid;
    border-radius: 10px;
    border-style: groove;
    margin: 120px 150px 120px 150px;
    max-width: 1320px;
    min-height: 620px;
    background:linear-gradient(to bottom, #ffe2e2 30%, #ffbfbf 70%);
    background-clip: content-box;

     
}

.Newsletter-title img{
      display: flex;
      align-items: center;
      justify-content: center;
      margin-left: 470px;
      margin-top: 150px;
    
}
.subscribe1{
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
}
.input-btn2{
      align-items: center;
      justify-content: center;
      display: flex;
      margin-bottom: 70px;
     
      
}
.input-btn2 button{
            background-color: #FF0000;
            border-radius: 10px;
            border-style: groove;
            margin-top: 50px;
            width: 150px;
            height: 30px;
            padding-left: 10px;
            font-size: 18px;
            

      
      }
      .input-btn2 input{

            border-radius: 10px;
            border-style: groove;
            margin-top: 50px;
            width: 250px;
            height: 20px;
            padding-left: 10px;
            font-size: 18px;

      }
     
      .input-btn2 input:hover{
            background-color: #FF0000;
            color: #FFFFFF;
      }
      .input-btn2 button:hover{
            background-color: #FF0000;
            color: #FFFFFF;
      }
      .input-btn2 button:active{
            background-color: #FF0000;
            color: #FFFFFF;
      }

/* newsletter ends here */

/* footer style starts here  */

.second-part{
      display: flex;
      align-items: center;
      justify-content: space-evenly;

}
.second-part p{
      color:#FFFFFF;
      margin-right: 100px;
      
}

.icon-pic{

    display: flex;
    align-items: center;
    justify-content: center; 

      

      
}


.last-step{
      display: flex;
      align-items: center;
      justify-content: space-between;
}


.last-step h6{
      margin-top: 50px;
      margin-left: 150px;
      font-size: 12px;
      color: #ff6767;

}

.last-step button{
      margin-right: 50px;
      color: #ff7272;
      font-weight: 600;
}



.first-part{
      background-color:#290e5e;
}



/* footer style ends here */